@model IEnumerable<mvcBPMS.Models.project>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                项目名称
            </th>
            <th>
                标准产值
            </th>
            <th>
                进场日期
            </th>
            <th>
                退场日期
            </th>
            <th>
                报告是否批准
            </th>
            <th>
                报告批准日期
            </th>

            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.project_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.standard_product_value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.enter_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.exit_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.is_approved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.approved_datatime)
            </td>
            <td>
                @Html.ActionLink("项目详情", "projectDetails", new { id = item.id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
