@model IEnumerable<mvcBPMS.Models.project>


<h2>项目总览</h2>


<table class="table">
    <tr>
        <th>
            项目名称
        </th>
        <th>
            标准产值
        </th>
        <th>
            进场日期
        </th>
        <th>
            退场日期
        </th>
        <th>
           批准日期
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.project_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.standard_product_value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enter_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exit_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.approved_datatime)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
