
@model mvcBPMS.ViewModels.ProjectCartIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Your Cart</h2>

<table>
    <thead>
        <tr>
            <th>关联合同id</th>
            <th>项目名称</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var line in Model.ProjectCart.Lines)
        {
            <tr>
                <td>@line.Project.contact_id</td>
                <td>@line.Project.project_name</td>
                <td>
                    @using (Html.BeginForm("RemoveFromProjectCart", "ProjectCart"))
                    {
                        @Html.Hidden("id",line.Project.id)
                        @Html.HiddenFor(x=>x.ReturnUrl)
                        <input type="submit" value="Remove"/>
                    }
                </td>
            </tr>
        }
    </tbody>

   
</table>

<div>
    <a href="@Model.ReturnUrl">继续添加项目</a>
    @Html.ActionLink("完成项目添加", "Checkout","ProjectCart") 
    
      

</div>