<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown">                  
                        @*<a href="#" class="dropdown-toggle" data-toggle="dropdown">ss</a>*@
                        @Html.ActionLink("合同管理", "About", "Home", new { @class = "dropdown-toggle"}, new { data_toggle = "dropdown"})
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("合同查询", "QueryContact", "Contact")</li>
                            <li>@Html.ActionLink("合同添加", "AddContact", "Contact")</li>
                            <li>@Html.ActionLink("合同修改", "ModContact", "Contact")</li>
                            <li>@Html.ActionLink("合同删除", "DelContact", "Contact")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        @Html.ActionLink("项目基本信息管理", "About", "Home", new { @class = "dropdown-toggle" }, new { data_toggle = "dropdown" })
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("项目查看", "List", "Project")</li>
                            <li>@Html.ActionLink("项目查询", "QueryProject", "Project")</li>
                            <li>@Html.ActionLink("项目添加", "AddProject", "Project")</li>
                            <li>@Html.ActionLink("项目修改", "ModProject", "Project")</li>
                            <li>@Html.ActionLink("项目删除", "DelProject", "Project")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        @Html.ActionLink("项目资金流动管理", "About", "Home", new { @class = "dropdown-toggle" }, new { data_toggle = "dropdown" })
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("资金流动查询", "About", "Home")</li>
                            <li>@Html.ActionLink("资金流动添加", "Contact", "Home")</li>
                            <li>@Html.ActionLink("资金流动修改", "Contact", "Home")</li>
                            <li>@Html.ActionLink("资金流动删除", "Contact", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        @Html.ActionLink("项目体系管理", "About", "Home", new { @class = "dropdown-toggle" }, new { data_toggle = "dropdown" })
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("项目体系管理", "About", "Home")</li>
                            <li>@Html.ActionLink("项目难度系数管理", "Contact", "Home")</li>
                            <li>@Html.ActionLink("项目复杂系数管理", "Contact", "Home")</li>
                            <li>@Html.ActionLink("项目完成分配比例管理", "Contact", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        @Html.ActionLink("项目参与度管理", "About", "Home", new { @class = "dropdown-toggle" }, new { data_toggle = "dropdown" })
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("参与信息查询", "QueryR_project_staff", "R_project_staff")</li>
                            <li>@Html.ActionLink("参与信息添加", "AddQueryR_project_staff", "R_project_staff")</li>
                            <li>@Html.ActionLink("参与信息修改", "ModQueryR_project_staff", "R_project_staff")</li>
                            <li>@Html.ActionLink("参与信息删除", "DelQueryR_project_staff", "R_project_staff")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        @Html.ActionLink("职工信息管理", "Index", "Staff", new { @class = "dropdown-toggle" }, new { data_toggle = "dropdown" })
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("职工信息总览", "Index", "Staff")</li>
                            <li>@Html.ActionLink("职工信息列表", "List", "Staff")</li>
                            <li>@Html.ActionLink("职工信息查询", "QueryStaff", "Staff")</li>
                            <li>@Html.ActionLink("职工信息添加", "AddStaff", "Staff")</li>
                            <li>@Html.ActionLink("职工信息修改", "ModStaff", "Staff")</li>
                            <li>@Html.ActionLink("职工信息删除", "Contact", "Home")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
