@model IEnumerable<mvcBPMS.Models.staff>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />

<table class="table">
    <tr>
        <th>
            工号
        </th>

        <th>
            姓名
        </th>
        <th>
            性别
        </th>
        <th>
            办公电话
        </th>
        <th>
            移动电话
        </th>
        <th>
            职位
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.staff_no)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.staff_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.office_phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobile_phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>

